<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('jquery-3.7.1.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
      <div class="navigation" style="display: flex; flex-direction: row; justify-content: center;  column-gap: 10px;">
        <div>
          <a href="/message"><button>Create message</button></a>
        </div>
        <div>
          <a href="/message/read"><button>Read message</button></a>
        </div>

      </div>
      <hr>
      {% block body %}
      {% endblock %}
    </body>
</html>
